<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      About Us
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-text color="secondary">
    <h1>Halo saya Hartantio Adi N</h1>
  </ion-text>
  <ion-text color="primary">
    <h3>Jurusan: Informatika</h3>
    
  </ion-text>
  <ion-text color="primary">
    <h3>Tahun: 2018</h3>
    
  </ion-text>
  <ion-text color="danger">
    <p>Mau liat Foto Tebak Dulu 0 - 10<p>
    
  </ion-text>

    <ion-card>
      <ion-card-title>Tebak Angka</ion-card-title>
      <ion-card-content>
        <ion-item>
          <ion-item>
            <ion-textarea placeholder="input here" [(ngModel)]="Angka"></ion-textarea>
          </ion-item>
        </ion-item>
        <ion-button (click)="Tebak()" expand="full">Tebak</ion-button>

      </ion-card-content>
      
    </ion-card>
    <ng-container *ngIf='buener === true'>
    <ion-grid>
      <ion-row>
        <ion-col size="6" *ngFor="let isiFoto of fotoService.dataFoto; index as position">
         
            <ion-img [src] = "isiFoto.webviewPath"></ion-img>
          
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-button color="danger" (click)="Restart()" expand="full">Restart</ion-button>
  </ng-container>

</ion-content>
